---
title: Welcome to Middleman
---

<div class="control-Wrap" id="styling-flat">
  <div class="sectionWrap">
    <div class="wrapper">
      <h2>viewBox Tester</h2>
      <!-- <p>viewBox uses the following syntax <code>min-x | min-y | width | height</code></p> -->
    </div>
    <section id="scaleBoxX" class="number">
      <form class="" action="#">
        <label>min-x: <span></span></label>
        <input type="text" placeholder="0">
      </form>
    </section>
    <section id="scaleBoxY" class="number">
      <form class="" action="#">
        <label>min-y: <span></span></label>
        <input type="text" placeholder="0">
      </form>
    </section>
    <section id="scaleBoxWidth" class="slider">
      <div class="flat-slider scaleBoxWidth"></div>
      <h3>viewBox Width: <span></span></h3>
    </section>
    <section id="scaleBoxHeight" class="slider">
      <div class="flat-slider scaleBoxHeight"></div>
      <h3>viewBox Height: <span></span></h3>
    </section>
    <section class="report">
      <h3>viewBox property: <span></span></h3>
    </section>
  </div>
  <!-- <div id="flat-slider-vertical-2"></div> -->
</div>

<div class="render-Wrap">

  <div class="box"></div>
	<svg id="armadillo" viewBox="10 42 1000 750" preserveAspectRatio="xMinYMin">
  <g>
    <path d="M991.7,471.1c0.2-9.3,0-18.6-0.6-28c0.4-0.7,0.6-1.5,0.6-2.4c0-53.8-10.5-105.9-31.3-155c-20.1-47.4-48.8-90-85.3-126.6
    c-36.6-36.6-79.1-65.3-126.6-85.3c-49.1-20.8-101.2-31.3-155-31.3s-105.9,10.5-155,31.3c-47.4,20.1-90,48.8-126.6,85.3
    c-36.6,36.6-65.3,79.1-85.3,126.6c-9.1,21.4-16.2,43.4-21.3,65.8v-27.3c0-26.3-10.2-51.1-28.9-69.7c-18.6-18.6-43.3-28.9-69.7-28.9
    c-54.3,0-98.5,44.2-98.5,98.5v283.6c0,2.8,2.2,5,5,5h54.8c2.8,0,5-2.2,5-5V507.5c10.9,4,22.2,6,33.7,6c43.6,0,80.7-28.5,93.6-67.8
    h116l49.1,84.9c0.9,1.5,2.5,2.5,4.3,2.5c1.8,0,3.4-1,4.3-2.5l46.1-79.9l46.1,79.9c0.9,1.5,2.5,2.5,4.3,2.5c1.8,0,3.4-1,4.3-2.5
    l49-84.9h44.1l49,84.9c0.9,1.5,2.5,2.5,4.3,2.5h0c1.8,0,3.4-1,4.3-2.5l46.2-79.9l46.1,79.9c0.9,1.5,2.5,2.5,4.3,2.5h0
    c1.8,0,3.4-1,4.3-2.5l49-84.9h56.6c0.1,0.3,0.3,0.6,0.4,0.9c22,35.2,36.6,72.6,43.6,111.4c-0.7,1.7-0.4,3.7,0.9,5.2
    c1.4,8.6,2.4,17.2,3.1,25.9c3.6,47.6-4,96.1-22.4,144.2c-0.8,2.1-0.1,4.6,1.8,5.9c0.9,0.6,1.9,0.9,2.9,0.9c1.2,0,2.3-0.4,3.3-1.2
    c41.5-35.6,74.9-81,96.5-131.3c18.3-42.5,28-87.2,29.2-133.3C992,473.3,992,472.1,991.7,471.1z M973.2,542.3l-46.9,45.9l-39.7-30.3
    c-4.3-24.4-11.4-48.2-21.4-71.3l60.2,45.6c0.9,0.7,2,1,3,1c1.2,0,2.5-0.5,3.4-1.4l49.4-46.8C980.1,504.3,977.4,523.5,973.2,542.3z
     M981.7,435.7h-94.7V186.6c26.7,30.8,48.3,65.4,64.2,103.1C970.8,336,981,385.1,981.7,435.7z M879.8,178.6h-2.8v257.2h-73.2V114.3
    c23.1,14.9,44.6,32.2,64.3,51.9C872,170.3,875.9,174.4,879.8,178.6z M794,108.2h-0.2v327.5h-20.9h-52.3V73.8
    c8.1,2.8,16.1,5.9,24,9.2C761.7,90.3,778.2,98.7,794,108.2z M672,435.7h-34.6V55c24.9,2.8,49.4,8,73.2,15.5v365.2H672z M627.4,54
    v381.7H571h-16.8V54.5c13-1.3,26.1-2,39.3-2C604.9,52.5,616.2,53,627.4,54z M521.2,435.7H471V72.3c23.8-7.9,48.3-13.5,73.2-16.6
    v380.1H521.2z M442.4,83c6.2-2.6,12.4-5,18.6-7.3v360h-40.8h-32.4V111.4C405.2,100.6,423.4,91.1,442.4,83z M319,166.2
    c18.1-18.1,37.8-34.3,58.8-48.3v317.8h-58.6h-14.6V184.3h-2.5C307.6,178.1,313.2,172.1,319,166.2z M195.3,415
    c0,48.8-39.7,88.5-88.5,88.5c-12.6,0-25-2.7-36.7-8c-1.5-0.7-3.3-0.6-4.8,0.3c-1.4,0.9-2.3,2.5-2.3,4.2v102.8H18.3V324.2
    c0-48.8,39.7-88.5,88.5-88.5c23.6,0,45.9,9.2,62.6,25.9c16.7,16.7,25.9,38.9,25.9,62.6V415z M235.8,289.6
    c14.8-35.1,34.6-67.5,58.8-96.7v242.8h-89.3C206,385.1,216.2,336,235.8,289.6z M369.8,518.2l-41.8-72.4h83.6L369.8,518.2z
     M470.7,518.1l-41.8-72.4h83.6L470.7,518.1z M621.5,518.2l-41.8-72.4h83.6L621.5,518.2z M722.4,518.1l-41.8-72.4h83.6L722.4,518.1z
     M981.2,445.7c0.4,8.4,0.6,16.7,0.5,25L928,521.6l-70.3-53.3c-0.5-0.4-1-0.6-1.5-0.8c-3.8-7.4-7.8-14.7-12.2-21.9H981.2z
     M953.2,603.7c-18.4,42.9-45.6,82.1-79.2,114.4c14.1-43.3,19.6-86.8,16.4-129.7c-0.4-5.5-1-10.9-1.7-16.4l34.9,26.7
    c0.9,0.7,2,1,3,1c1.3,0,2.5-0.5,3.5-1.4l38.3-37.4C964.3,575.4,959.3,589.7,953.2,603.7z"/>
  <path d="M108.2,355.9c0,6.5-5.2,11.8-11.7,11.8c-6.5,0-11.7-5.3-11.7-11.8c0-6.5,5.3-11.7,11.7-11.7
    C103,344.2,108.2,349.4,108.2,355.9z"/>
  </g>
</svg>

</div>